body {
    font-family: 'Ubuntu', sans-serif;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

h1 {
    font-size: 45px;
}


/*Photos section*/

#photos img{

    max-width:40%

}